node_modules
npm-debug.log
.next
.git
.gitignore
README.md
.env
.env.local
.env.production.local
.env.development.local
.DS_Store
*.log
client/
muralla-dashboard/.next
muralla-dashboard/out
server/node_modules
